  <% product.errors.each do |error| %>
    <p class="error"><%= error.attribute.to_s.capitalize %> <%== error.message %>!</p>
  <% end %>
  <p><label>Name: <input type="text" name="name" value="<%= product.name %>"></label></p>
  <p><label>SKU: <input type="text" name="sku" value="<%= product.sku %>"></label></p>
  <p><label>Price: $<input type="text" name="price" value="<%= product.price %>"></label></p>
  <button type="submit">Save</button>
